body {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

code {
  background-color: rgb(237, 237, 237);
  padding: 2px 4px;
  letter-spacing: 1px;
  border-radius: 8px;
  border: thin groove;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: .9em;
}

.menu {
  position: absolute;
  height: 70px;
  width: 100%;
  top: 0;
  background-color: #66cccc;
}

.home {
  background-color: white;
  border-radius: 5px;
  top: 25px;
  padding: 3px;
  position: absolute;
  left: 70px;
}

.codeblock {
  display: table; 
  line-height: 25px;
  background-color: black; 
  color: white;
  text-align: left; 
  margin: 15px 60px 15px;
}

.intro {
  margin: 110px 60px 50px; 
  font-size: 1.3em; 
  padding: 20px; 
  border: 5px dotted white; 
  background-color: black; color: white; 
  line-height: 30px;
}

.instructions li {
  text-align: left; 
  margin: 0 60px 0 60px; 
  font-size: 1.1em;
  line-height: 50px;
}

.sub-instructions {
  list-style: lower-alpha;
}